@model OutraChance.Models.Usuario

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="d-flex justify-content-between">
        <h4>Usuario</h4>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info">Editar</a>
    </div>
    <hr/>
    
    <dl class="row">
        <div>
            <img src="@(string.IsNullOrEmpty(Model.Avatar) ? "https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg" : Model.Avatar)" class="rounded-circle" alt="..." height="150" width="150">
        </div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
@if(Model.Anuncios != null)
{
    <hr />
    <br />
    <div class="row" id="texto" name="texto">
        <h6>ADICIONADOS RECENTEMENTE</h6>
    </div>

    <div class="container px-1" id="containerCards" style="width:100%">
        <div class="row" id="rowCards" name="rowCards" style="width:100%">

            @foreach (var item in Model.Anuncios.Where(x => x.Status == true))

            {
                <div class="col-3" id="colCardsAnuncios" name="colCardsAnuncios">
                    <div class="card" id="cardAnuncios" name="cardAnuncios">
                        <img src="@Html.DisplayFor(modelItem => item.Imagem)" height="230px" width="100%"></img>
                             <div class="card-body">
                                 <h6 class="card-title" id ="cardAVenda"><b>@Html.DisplayFor(modelitem => item.Titulo)</b></h6>
                                <h7><p class="card-text" id="cardAVenda">@Html.DisplayFor(modelitem => item.Descricao)</p></h7>
                           
                             @if (item.CaracteristicasAnuncios != null)
                             {


                                @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                {
                                    if (caracteristicasAnuncios.CaracteristicaId == 4)
                                    {
                                        <h7>@caracteristicasAnuncios.Valor </h7>
                                    }
                                }
                             }
                             </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="licardAVenda">
                                @if (item.CaracteristicasAnuncios != null)
                                {


                                    @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                    {
                                        if (caracteristicasAnuncios.CaracteristicaId == 2)
                                        {
                                            <h7>Tam: @caracteristicasAnuncios.Valor |</h7>
                                        }
                                    }
                                }
                                @if (item.CaracteristicasAnuncios != null)
                                {


                                    @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                    {
                                        if (caracteristicasAnuncios.CaracteristicaId == 1)
                                        {
                                            <h7>Cor: @caracteristicasAnuncios.Valor </h7>
                                        }
                                    }
                                }

                            </li>
                            <br>
                            <li class="list-group-item" id="licardAVenda"><b>R$ @Html.DisplayFor(modelitem => item.Preco)</b></li>

                        </ul>
                        <div class="row">
                            <a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" style="width:100%">Detalhes</a>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

    <hr />
    <br />
    <div class="row" id="texto" name="texto">
        <h6>VENDIDOS</h6>
    </div>

    <div class="container px-1" id="containerCards" style="width:100%">
        <div class="row" id="rowCards" name="rowCards" style="width:100%">

            @foreach (var item in Model.Anuncios.Where(x => x.Status == false))

            {
                <div class="col-3" id="colCardsAnunciosVendidos" name="colCardsAnuncios">
                    <div class="card" id="cardAnunciosVendidos" name="cardAnuncios">
                        <img src="@Html.DisplayFor(modelItem => item.Imagem)" height="230px" width="100%"></img>
                        <div class="card-body">
                            <h6 class="card-title"><b>@Html.DisplayFor(modelitem => item.Titulo)</b></h6>
                            <h7><p class="card-text">@Html.DisplayFor(modelitem => item.Descricao)</p></h7>

                            @if (item.CaracteristicasAnuncios != null)
                            {


                                @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                {
                                    if (caracteristicasAnuncios.CaracteristicaId == 4)
                                    {
                                        <h7>@caracteristicasAnuncios.Valor </h7>
                                    }
                                }
                            }
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="licardVendido">
                                @if (item.CaracteristicasAnuncios != null)
                                {


                                    @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                    {
                                        if (caracteristicasAnuncios.CaracteristicaId == 2)
                                        {
                                            <h7>Tam: @caracteristicasAnuncios.Valor |</h7>
                                        }
                                    }
                                }
                                @if (item.CaracteristicasAnuncios != null)
                                {


                                    @foreach (var caracteristicasAnuncios in item.CaracteristicasAnuncios)
                                    {
                                        if (caracteristicasAnuncios.CaracteristicaId == 1)
                                        {
                                            <h7>Cor: @caracteristicasAnuncios.Valor </h7>
                                        }
                                    }
                                }

                            </li>
                            <br>
                            <li class="list-group-item" id="licardVendido"><b>R$ @Html.DisplayFor(modelitem => item.Preco)</b></li>

                        </ul>
                        <div class="row">
                            <a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" style="width:100%">Detalhes</a>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
}


