@model OutraChance.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <div>
            <img src="@(string.IsNullOrEmpty(Model.Avatar) ? "https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg" : Model.Avatar)" class="rounded-circle" alt="..." height="150" width="150">
        </div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<table class="table">
    <tbody>
        @foreach (var anuncio in Model.Anuncios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => anuncio.Status)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => anuncio.Imagem)" height="75" width="50"/>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@anuncio.Id" class="btn btn-success">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
