@using System.Security.Claims;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutraChance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OutraChance.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="d-flex flex-wrap w-full align-items-center justify-content-between border-bottom border-dark-subtle" id="navBar" nome="navBar">
                <img src="~/Imagens/logo.gif" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none ms-5" id="logoOutraChance" name="logoOutraChance">
                <div>
                    <ul class="nav justify-content-start mb-md-0">
                        <li><a asp-controller="Anuncios" asp-action="Index" class="nav-link px-2 text-secondary">Outra Chance</a></li>
                    </ul>
                </div>


                <form class="col-12 col-lg-auto mb-3 mb-lg-0 ms-5" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Busque produtos, marcas e muito mais..." aria-label="Pesquisar" id="filtro" name="filtro">
                </form>
                    @if (User.Identity.IsAuthenticated)
                    {
                            <ul class="nav me-lg-auto mb-2 justify-content-end mb-md-0">
                                <li><a asp-controller="Anuncios" asp-action="Create" class="nav-link px-4 text-secondary">Anunciar</a></li>
                                <li><a asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" class="nav-link px-0 text-secondary">Meu Perfil</a></li>
                            </ul>
                     
                            <!-- Botão para usuários logados -->
                            <a asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" class="text-decoration-none text-wrap text-secondary p-2">Olá, @User.Identity.Name!</a>
                            <a asp-controller="Usuarios" asp-action="Logout" class="btn btn-outline-danger">Sair</a>
                    }
                    else
                    {
                        <a asp-controller="Usuarios" asp-action="Create" class="btn btn-outline-primary">Criar Conta</a>
                        <!-- Botão para usuários não logados -->
                        <a asp-controller="Usuarios" asp-action="Login" id="btnLogin" name="btnLogin" class="btn btn-outline-secondary">Login</a>
                    }

        </header>


    <main role="main" class="p-5">
            @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OutraChance
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
